.Video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

video{
    
    width:80% ;
    height: auto;
    
}

@media (max-width: 767px){
  
  
    video{
    
        width:100% ;
        height: auto;
        
    }
}  

